<style>
	.contenedor-de-planetas {
		display: flex;
		flex-direction: column;
		align-items: center;

		height: 100%;
		width: 100%;
	}

	.sub-titulo {
		margin: 20px 0;
		z-index: 5;
	}

	.contenedor-grid {
		display: grid;
		grid-template-columns: repeat(3, 3fr);
		grid-row-gap: 50px;

		width: 100%;

		margin-bottom: 20px;
	}

	.planeta {
		/* display: flex;
		justify-content: center; */

		width: 100%;
		height: auto;

		z-index: 5;
	}

	/* media  1000*/
	@media (max-width: 1000px) {
		/* contenedor-grid */
		.contenedor-grid {
			grid-template-columns: repeat(2, 2fr);
		}
	}

	/* media  600*/
	@media (max-width: 600px) {
		/* contenedor-grid */
		.contenedor-grid {
			grid-template-columns: repeat(1, 1fr);
		}
	}
</style>

<div class="contenedor-de-planetas">
	<h2 class="sub-titulo">Planetas del sistema solar</h2>
	<div class="contenedor-grid"></div>
</div>
