<style>
	.contenedor-principal {
		width: 100%;
		height: 100%;
		max-width: 100vw;

		overflow: hidden;
		padding: 0;
	}

	.contenedor-de-estrellafugaz {
		display: flex;
		justify-content: center;
		align-items: center;

		position: relative;

		background: url(./img/superficie_de_la_tierra.jpg) no-repeat;
		background-size: cover;
		background-position-x: center;
		background-position-y: 20%;

		width: 100%;
		height: 100%;

		z-index: 5;
		cursor: pointer;
		transition-duration: 0.5s;
	}

	.contenedor-de-estrellafugaz:hover {
		transform: scale(1.08);
	}

	.estrellafugaz {
		--tamano-estrella: 5px;
		--direccion-de-estrella: 315deg;
		--translateX: -125px;
		--tamano-de-estela: 0px;

		position: absolute;

		top: 50%;
		left: 50%;
		width: var(--tamano-estrella);
		height: var(--tamano-estrella);

		background-color: #fff;
		opacity: 0;
		border-radius: 50%;

		box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1),
			0 0 0 16px rgba(255, 255, 255, 0.1);

		animation: estrella 1s linear;
	}

	.estrellafugaz::after {
		content: "";
		position: absolute;

		width: var(--tamano-de-estela);
		height: 1px;
		top: 50%;
		transform: translateY(-50%);

		background: linear-gradient(90deg, #fff, transparent);
	}

	@keyframes estrella {
		0% {
			transform: translateX(0) translateY(0) rotate(var(--direccion-de-estrella));
			opacity: 0;
			--tamano-de-estela: 300px;
		}

		70% {
			opacity: 1;
		}

		100% {
			transform: translateX(var(--translateX)) translateY(125px)
				rotate(var(--direccion-de-estrella));
			opacity: 0;
			--tamano-de-estela: 300px;
		}
	}

	.titulo {
		color: #fff;
		margin: 0;
	}
</style>
<div class="contenedor-principal">
	<div class="contenedor-de-estrellafugaz">
		<h1 class="titulo"><slot name="titulo"></slot></h1>
		<span class="estrellafugaz"> </span>
	</div>
</div>
