<style>
	* {
		transition-duration: 0.5s;
		--borde: 20px;
		--z-index: 6;
	}

	.contenedor-planeta {
		position: relative;
		width: 80%;
		height: 200px;

		/* overflow: hidden; */
	}

	.contenedor-planeta .estrella-fugaz {
		position: absolute;
		top: 0;

		width: 100%;
		height: 100%;

		border-radius: var(--borde);
		overflow: hidden;
		clip-path: circle(20% at center);

		opacity: 0;
	}

	.contenedor-planeta:hover .estrella-fugaz {
		clip-path: circle(100% at center);

		opacity: 1;
	}

	.contenedor-planeta img {
		position: absolute;

		top: 50%;
		left: 50%;
		width: 200px;

		/* background-size: cover; */

		transform: translate(-50%, -50%);
		pointer-events: none;

		clip-path: circle(20% at center);

		transition: 0.5s;
		z-index: var(--z-index);
	}

	.contenedor-planeta:hover img {
		width: 270px;
		/* left: 100%; */
		left: calc(100% + 30px);
	}

	.contenedor-planeta .info .contenido {
		position: absolute;

		top: 0;
		left: 10%;

		padding: 5px 20px;
		/* padding-left: ; */

		visibility: hidden;
		opacity: 0;

		z-index: var(--z-index);
	}

	.contenedor-planeta:hover .info .contenido {
		top: 10%;
		left: 0%;

		visibility: visible;
		opacity: 1;
	}

	.contenedor-planeta .info .nombre {
		position: absolute;

		top: 10%;
		width: 100%;

		text-align: center;

		z-index: var(--z-index);
	}

	.contenedor-planeta:hover .info .nombre {
		top: 0%;
	}

	.contenedor-planeta .info .boton-neon {
		position: absolute;

		bottom: 25px;
		left: 20px;

		opacity: 0;

		z-index: var(--z-index);
	}

	.contenedor-planeta:hover .info .boton-neon {
		bottom: 50px;

		opacity: 1;
	}
</style>

<div class="contenedor-planeta">
	<estrella-fugaz
		class="estrella-fugaz"
		url="../img/superficie_de_la_tierra.jpg"
	></estrella-fugaz>

	<div class="info">
		<h3 class="nombre">
			<slot name="nombre"> tierra </slot>
		</h3>

		<p class="contenido">
			<slot name="contenido">
				La Tierra es un planeta del sistema solar que gira alrededor de su estrella el Sol
				en la tercera órbita más interna.
			</slot>
		</p>

		<button class="boton-neon" is="boton-neon"></button>
	</div>
	<img />
</div>
