<div>
	<h1>proband los componentes</h1>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti facere debitis
		quaerat odio nobis molestias. Neque possimus voluptatibus vitae eius ducimus ipsa in,
		cupiditate, at dolore quae similique eum odio obcaecati quibusdam earum, beatae quod
		corrupti voluptate sed aliquid laudantium veniam quos repellendus. Molestiae
		laboriosam recusandae, maxime natus quibusdam quos.pdpd
	</p>
	<img src="../../img/superficie_de_la_tierra.jpg" />
</div>
